# 0.0. Imports

In [4]:
import pandas as pd
import pandas.io.sql as psql
import psycopg2 as pg

## 0.1. Helper Functions

## 0.2. Loading Data

In [2]:
# Credentials

host = 'comunidade-ds-postgres.c50pcakiuwi3.us-east-1.rds.amazonaws.com'
port = 5432
database = 'comunidadedsdb'
username = 'member'
pwd = 'cdspa'

In [5]:
conn = pg.connect( user = username,
                   password=pwd,
                   host=host,
                   port=port,
                   database=database )

In [6]:
query_tables_users = """
    SELECT *
    FROM pa004.users u LEFT JOIN pa004.vehicle v ON ( u.id = v.id )
                       LEFT JOIN pa004.insurance i ON ( u.id = i.id )

"""

df = psql.read_sql( query_tables_users, conn )
df.head()

/Users/thiago/Thiago/Data_Science/comunidade_ds/health_insurance/health_04_env/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,id,gender,age,region_code,policy_sales_channel,id,driving_license,vehicle_age,vehicle_damage,id,previously_insured,annual_premium,vintage,response
0,7,Male,23,11.0,152.0,7,1,< 1 Year,Yes,7,0,23367.0,249,0
1,13,Female,41,15.0,14.0,13,1,1-2 Year,No,13,1,31409.0,221,0
2,18,Female,25,35.0,152.0,18,1,< 1 Year,No,18,1,46622.0,299,0
3,31,Female,26,8.0,160.0,31,1,< 1 Year,No,31,0,2630.0,136,0
4,39,Male,45,8.0,124.0,39,1,1-2 Year,Yes,39,0,42297.0,264,0

# 1.0. PASSO 01 - DESCRICAO DOS DADOS

In [7]:
df1 = pd.read_sql( query_tables_users, conn)

/Users/thiago/Thiago/Data_Science/comunidade_ds/health_insurance/health_04_env/lib/python3.10/site-packages/pandas/io/sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

## 1.1. Remove Columns ID

In [8]:
df1 = df1.drop( df.columns[[5,9]], axis=1 )
df1.head()

,gender,age,region_code,policy_sales_channel,driving_license,vehicle_age,vehicle_damage,previously_insured,annual_premium,vintage,response
0,Male,23,11.0,152.0,1,< 1 Year,Yes,0,23367.0,249,0
1,Female,41,15.0,14.0,1,1-2 Year,No,1,31409.0,221,0
2,Female,25,35.0,152.0,1,< 1 Year,No,1,46622.0,299,0
3,Female,26,8.0,160.0,1,< 1 Year,No,0,2630.0,136,0
4,Male,45,8.0,124.0,1,1-2 Year,Yes,0,42297.0,264,0

## 1.2. Data Dimensions

In [9]:
print( 'Number of rows:{}'.format( df1.shape[0]))
print( 'Number of columns:{}'.format( df1.shape[1]))

Number of rows:381109
Number of columns:11

## 1.3. Data Types

## 1.4. Check NA

## 1.5. Fillout NA

## 1.6. Change Types

## 1.7. Descriptive Statistical

### 1.7.1 Numerical Attributes

### 1.7.2 Categorical Attributes

# 2.0. PASSO 02 - FEATURE ENGINEERING

## 2.1. Mapa Mental de Hipoteses

## 2.1. Criação das Hipoteses

## 2.3. Feature Engineering

# 3.0. PASSO 03 - FILTRAGEM DE VARIÁVEIS

## 3.1. Filtragem das Linhas

## 3.2. Seleção das Colunas

# 4.0. PASSO 04 - ANÁLISE EXPLORATÓRIA DOS DADOS

## 4.1. Análise Univariada

### 4.1.1. Response Variable

### 4.1.2. Numerical Variable

### 4.1.3. Categorical Variable

## 4.2. Análise Bivariada

### 4.2.1. **Resumo das Hipóteses**

## 4.3. Análise Multivariada

### 4.3.1. Numerical Attributes

### 4.3.2. Categorical Attributes

# 5.0. PASSO 05 - DATA PREPARATION

## 5.1. Normalização

Observando os dados numéricos na sessão 4.1.2. pode ser observado que não existem variáveis com comportamento normal, assim não valendo a pena executar uma normalização em variáveis que não possuem esse comportamento.

## 5.2. Rescaling

## 5.3. Transformação

### 5.3.1. Encoding

### 5.3.2. Response Variable Transformation

### 5.3.3. Nature Transformation

# 6.0. PASSO 06 - FEATURE SELECTION

## 6.1. Split dataframe into training and test dataset

## 6.2. Boruta as Feature Selector

### 6.2.1. Best Features from Boruta

## 6.3. Manual Feature Selection

# 7.0. PASSO 07 - MACHINE LEARNING MODELLING

## 7.1. Average Model

## 7.2. Linear Regression Model

### 7.2.1. Linear Regression Model - Cross Validation

## 7.3. Linear Regression Regularized Model ( Lasso )

### 7.3.1. Linear Regression Regularized Model ( Lasso ) - Cross Validation

## 7.4. Random Forest Regressor

### 7.4.1. Random Forest Regressor - Cross Validation

## 7.5. XGBoost Regressor

### 7.5.1. XGBoost Regressor - Cross Validation

## 7.6. Compare Model's Performance

### 7.6.1. Single Performance

### 7.6.1. Real Performance - Cross Validation

# 8.0. PASSO 08 - HYPERPARAMETER FINE TUNING

## 8.1. Random Search

## 8.2. Final Model

# 9.0. PASSO 09 - TRADUÇÃO E INTERPRETAÇÃO DO ERRO

## 9.1. Business Performance

## 9.2. Total Performance

## 9.3. Machine Learning Performance

# 10.0. PASSO 10 - DEPLOY MODEL TO PRODUCTION

## 10.1. Rossmann Class

## 10.2. API Handler

## 10.3. API Tester